body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6fb;
}

/* NAVIGATION BAR */
nav {
    background-color: #0a1f44;  /* Dark blue */
    padding: 15px 40px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav a {
    color: white;
    text-decoration: none;
    margin-left: 30px;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

/* CONTAINER */
.container {
    padding: 60px;
    text-align: center;
}

/* HOME TITLE */
.home-title {
    font-size: 48px;
    color: #0a1f44;
    margin-top: 150px;
}

/* ADMIN PANEL */
.admin-box {
    background: white;
    width: 400px;
    margin: 40px auto;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
}

input {
    width: 90%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background-color: #0a1f44;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #163a78;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: white;
    margin: 10px auto;
    padding: 15px;
    width: 60%;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    box-shadow: 0 3px 8px rgba(0,0,0,0.05);
}
